@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  max-height: fit-content;
  background-color: #fff;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 95%;
  }
 

  .btn-toggle{
    width: 70px;
    height: 40px;
    background: rgb(11, 230, 25);
    cursor: pointer;
    border-radius: 30%;
    float: right;
  }

  .btn-toggle:hover {
    background-color: rgb(14, 14, 14);
    color: rgb(245, 245, 245);
  }

  h1, h2 {
    margin: 0 0 10px 0;
    padding: 10px 0 5px 0;
    color: white;    
  }

  .header_logo {
    width: 250px;
  }

  .header {
    background-color: #f0f414;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

 
  .logo h1, .logo h1 a {
    padding: 15px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
  }
  
  .logo a:hover {
    color: #E67E22;
    font-size: larger;
    transition: 0.5s;

  }

  .menu {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
  .menu a {
      color: black;
      text-decoration: none;
  }

  .menu a:hover {
    color: #E67E22;
    font-size: larger;
    transition: 0.5s;
  }

  .footer {
    width: 100%;
    height: 150px;
    background-color:  #f0f414;
    padding-top: 30px;
    padding-right: 29px;
    margin: 40px 5px 0 5px;
  }

.menu_footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}

.menu_footer a {
    color: black;
    text-decoration: none;
}

.menu_footer a:hover {
    color: #E67E22;
    font-size: smaller;
    transition: 0.5s;
}

.menu_footer li {
    padding-left: inherit;
}

.social {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    list-style-type: none;
    width: 150px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    border-radius: 30px;
}
.social__link {
    fill: blue;
}
.social__link:hover{
    fill: #E67E22;
    transition: 0.5s;
}
.social__icon{
    fill: inherit;
    height: 40px;
    width: 40px;
    transition: .2s;
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.sidebar {
  width: 80%;
  padding: 3%;
  margin: 0 0 16px 0;
  border: solid 1px #f2f2f2;
  border-radius: 15px;
  background-color:rgb(242 143 48);;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.btn, .btn_search {
  background-color: rgb(4, 232, 57);
  margin: 5px;
  cursor:pointer;
  padding: 5% 15%;
  color: white;
  font-size: 18px;
}

.btn:hover, .btn_search:hover {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.sidebar h2 {
  color: black;
  text-align: center;
  font-size: 25px;
}

.sidebar input {
  text-align: center;
  width: 83%;
}

.form {
  text-align: center;
}
.lables_passreg_text {
  font-size: 12px;
}

.sidebar p {
  color: blue;
  padding: 3%;
  font-size: 18px;
}

.sidebar img {
  width: 100%;
}

.site-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.image_about {
  width: 70%;
  padding-left: 16%;
}

.content {
  width: 70%;
  color: #040004;
  margin: 20px;
}

.content p {
  padding: 15px;
  margin-left: 20px;
  font-size: 2em;
  text-shadow: 2px 2px 1px #555;
}

.content h3 {
color: #E67E22;
font-size: 4em;
text-align: center;
padding: 25px 0 15px 0;
text-shadow: 2px 2px 1px  #ed00ff;
}

.film {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film img {
  width: 75%;
  opacity: 0.7;
}

.film img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}
 

.moreMovie img {
  width: 75%;
  height: 90%;
}


.popular_films, .moreMovie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  align-content: center;
}

.popular_films h4 {
  font-size: 35px;
  color: #2b07bb;
  padding: 10px;
  
}

.film_pop img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
}

.popular_films img {
  width: 75%;
  height: 90%;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.movie h4 {
  color: #E67E22;
  font-size: 25px;
  padding: 15px;
}

.movie iframe {
  width: 70%;
  height: 350px;
  padding: 15px;
}

.movie p {
  font-size: 13px;
  padding: 4px;
  color: #007e48;
  text-shadow: none;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.description_movie {
  display: flex;
  padding: 10px;
  width: 65%;
}

.description_movie img {
  height: 250px;
  width: 76%;
}

.rating_Movie, .rating_Movie_head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 4mm ridge rgba(211, 220, 50, .6);
  align-content: center;
  align-items: center;
  background-color: #05d7fc;
  justify-items: center;
}

.rating_Movie:hover {
background-color: #E67E22;
cursor: pointer;
}


.rating p {
  font-size: 15px;
  text-shadow: none;
  padding: 5px;
}

.develop {
  text-align: center;
}

.gif {
  width: 95%;
}



/* responze*/

@media only screen and (max-width: 426px) {
.header_logo {
  width: 100px;
}

.logo h1 {
  font-size: 30px;
}

.logo h2 {
  font-size: 20px;
}

.header li {
  font-size: 14px;
  text-align: center;
  }

  .content {
    width: 100%;
  }

  .sidebar_container {
    width: 60%;
  }

  .sidebar {
    width: 110%;
  }

  .content h3 { 
    font-size: 15px;
    text-shadow: none;
  }

   .content p {
     font-size: smaller;
     text-shadow: none;
   }
   .menu {
    position: fixed;
    top: 54px;
    left: 5px;
    width: 35%;
    padding: 15px;
    background: #6667ab9e;
    transform: translateX(-100%);
    transition: transform 0.5s;
    flex-direction: column;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu a {
    color: whitesmoke;   
  }
  .menu a:hover {
    color: #E67E22;
    font-size: larger;
    transition: 0.5s;
  }

  .header_logo.active {
    margin-left: 140px;
  }

  .rating_Movie {
    display: flex;
    flex-wrap: wrap;
  }

  .rating_Movie_head {
    display: none;
  }

  .movie {
    align-items: flex-start
  }

  .movie iframe {
    height: 165px;
  }

  .popular_films, .moreMovie {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    align-content: center;
  }


  /* burger-menu */

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

}

@media only screen and (max-width: 1440px) and (min-width: 767px){
  .logo h1 {
    font-size: 45px;
  }
  
  .logo h2 {
    font-size: 30px;
  }
  
  .header li {
    font-size: 25px;
    }
    
  .popular_films, .moreMovie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    align-content: center;
  }

  .moreMovie h4 {
    color: #2b07bb;;
  }

  .popular_films h4 {
    font-size: 25px;
  }

  .rating p {
    font-size: 11px;
    text-shadow: none;
  }

  .rating p {
    font-size: 23px;
    padding: 2px;
  }
}

@media only screen and (min-width: 1441px) {
  .logo h1 {
    font-size:100px;
  }
  
  .logo h2 {
    font-size: 45px;
  }
  
  .header li {
    font-size: 35px;
    }
}

/* dark style */

body.dark-theme {
  background-color: #555;
  color: #f2f2f2;
}

body.dark-theme header h2 {
  color: #E67E22;
}

body.dark-theme header {
  background-color: #02060c;
}

body.dark-theme header a {
  color: white;
}

body.dark-theme .sidebar {
  background-color:#200a22;
}

body.dark-theme footer{
  background-color: #02060c;
}

body.dark-theme footer a {
  color: #f6f6f6;
}

body.dark-theme footer  {
  background-color: #02060b;
}

body.dark-theme .social__link {
  fill: #E67E22;
}

body.dark-theme .social__link:hover {
  fill: #010101;
}

body.dark-theme .btn, body.dark-theme .btn_search {
  background-color: rgb(11, 12, 11);
  color: #E67E22;
}

body.dark-theme .btn:hover, body.dark-theme .btn_search:hover {
  background-color: #E67E22;
  color: rgb(0, 0, 0);
}

body.dark-theme .sidebar h2 {
  color: rgb(255, 254, 254);
}

body.dark-theme .sidebar p {
  color: rgb(228, 228, 233);
}

body.dark-theme .content {
  color: #f6f6f6;
}

body.dark-theme p {
  text-shadow: 2px 2px 1px rgb(45, 27, 27);
}

body.dark-theme h3 {
  color:  #0f003d;
  text-shadow: 2px 2px 1px  #200a22;
  }

body.dark-theme .btn-toggle {
  background-color: #f6f6f6;
  color: #E67E22;
}

body.dark-theme .btn-toggle:hover {
  background-color: #E67E22;
  color: white;
}

body.dark-theme .popular_films h4 {
  color: #E67E22;
}

body.dark-theme .rating_Movie {
  background-color: #200a22;
}

body.dark-theme .rating_Movie_head {
  background-color: #200a22;
}

body.dark-theme .moreMovie h4 {
  color: #E67E22;
}